.player{
	height:50px;
	font-size:25px;
	float:left;
	margin-left:10px;
	margin-top:10px;
}
#form{
	float:left;
	margin-left:20px;
	font-size:18px;
	margin-top:10px;
}

#myCanvas{
	float:left;
	border:solid 1px;
}
#canvasBox{
}
#manageBox{
	float:left;
	margin-left:9px;
	width:350px;
	height:100px;
}
#showBox{
	float:left;
	margin-left:50px;
	margin-top:5px;
	width:350px;
	height:auto;
}
.result{
	margin-left:9px;
	font-size:18px;
}
#req{
	float:left;
	width:420px;
	height:auto;
}
.inputt{
	float:left;
	margin-left:3px;
	width:75px;
	font-size:15px;
	margin-top:20px;
	
	
}
.query{
	float:left;
	margin-left:5px;
	font-size:20px;
}
.ek{
	margin-left:9px;
	float:left;
	margin-top:25px;
}
#ranger{
	z-index: -1;
}
#factor{
	margin-left:20px;
	margin-right:40px;
	margin-top:10px;
	width:550px;
}
#left{
	float:left;
	width:800px;
}

}

 #ust{
	
 }
 
 #mainPageButton{
	float:left;
	margin-top:150px;
	margin-left:150px;
 }