.oynatici{
	height:50px;
	font-size:25px;
	float:left;
	margin-left:10px;
	margin-top:10px;
}
#form{
	float:left;
	margin-left:20px;
	font-size:18px;
	margin-top:10px;
}
#tercih1{
	display: inline-block;  
	width:16px;
	height:16x;


}
#tercih2{
	display: inline-block;  
	width:16x;
	height:16x;
	margin-top:15px;
}
#myCanvas{
	float:left;
	border:solid 1px;
}
#canvasKutu{
}
#yonetimKutu{
	float:left;
	margin-left:9px;
	width:350px;
	height:100px;
}
#gosteriKutu{
	float:left;
	margin-left:50px;
	margin-top:5px;
	width:350px;
	height:auto;
}
.sonuc{
	margin-left:9px;
	font-size:18px;
}
#talep{
	float:left;
	width:400px;
	height:auto;
}
.girdi{
	float:left;
	margin-left:9px;
	width:75px;
	font-size:15px;
	margin-top:20px;
	
	
}
.soru{
	float:left;
	margin-left:20px;
	font-size:20px;
}
.ek{
	margin-left:9px;
	float:left;
	margin-top:25px;
}
#ranger{
	z-index: -1;
}
#faktor{
	margin-left:20px;
	margin-right:40px;
	margin-top:10px;
	width:550px;
}
#sol{
	float:left;
	width:800px;
}
#hakkindaKutu{
	float:left;
	margin-top:35px;
	width:1300px;
	height:auto;
	border:double 5px green;
}
#logo{
	float:left;
	height:256px;
	width:256px;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:15px;
	border:solid 2px;
	border-radius:45px;
}
#isim{
	float:left;
	margin-left:17px;
	margin-top:35px;
}
#aciklamaKutu{
	float:left;
	width:280px;
}
.aciklama{
	float:left;
	margin-left:20px;
	font-size:18px;
	
}
 #ust{
	
 }
 
 #geri{
	float:left;
	margin-top:150px;
	margin-left:150px;
 }